#login-modal.active {
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#login-modal input[type='checkbox'] {
    accent-color: #88c123;
}