.svg-container {
    background-image: url('../../../../images/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media screen and (max-width: 640px) {
    .svg-container {
        height: 80vh;
    }
}

@media screen and (max-width: 450px) {
    .svg-container {
        height: 60vh;
    }
}