#carousel {
    width: 100%;
    height: calc(100vh - 8rem);
}

#carousel .carousel-image {
    width: 100%;
}

#carousel .slide {
    width: 50%;
    object-fit: cover;
    object-position: center;
    transition: 200ms display ease-in-out;
}