#footer {
    background-image: url('../../../images/bottom-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#footer .footer-container {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 0);
    width: 100%;
}

@media screen and (max-height: 900px) {
    #footer {
        height: 110vh;
    }
}

@media screen and (max-height: 850px) {
    #footer {
        height: 130vh;
    }
}

@media screen and (max-height: 750px) {
    #footer {
        height: 150vh;
    }
}

@media screen and (min-height: 901px) {
    #footer {
        height: 80vh;
    }
}

@media screen and (min-height: 1100px) {
    #footer {
        height: 60vh;
    }
}


@media screen and (min-height: 1200px) {
    #footer {
        height: 50vh;
    }
}